*,.main,body{
    margin: 0;
    padding: 0;

}
.main{
    height: 100vh;
}

.header{
    background-color: #28104E;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header h2{
    color: white;
}
.logo {
    display: flex;
    align-items: center; /* Align items vertically */
    gap:10px;
    
    
  }
  img{
    width: 30px;
    height: 40px;
}
.logo{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.icons1{
    display: flex;
    gap:50%;
    justify-content: flex-end;
    
    
}
.add{
    background-color:  #28104E;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer; 
}
.account{
    background-color:  #28104E;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
.settings{
    background-color:  #28104E;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;

}
.side-nav{
    height: 90%;
    width: 255px;
    position: absolute;
    z-index: 9999;
    background-color:white;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background-color: green;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .example-container {
    height: 100%;
  }
  
  .mat-sidenav {
    width: 200px; /* Adjust width as needed */
  }
  
  .mat-sidenav-content {
    padding: 16px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .tabs button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 8px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tabs button:hover {
    background-color: #f0f0f0;
  }
  
  .mat-icon-button {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .main-content{
    //   background-color: #737373;
      width: 100%;
      
  }