<div class="main-container">
 
  <img src="..\assets\Desktop Background.png" alt="Logo">
  <div class="login-container">
    <h2>Smart Contracts</h2>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="username" name="Enter your email" class="form-control"
        placeholder="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="Enter your password" class="form-control"
        placeholder="password" required>
    </div>
    <div class="form-group">
      <label for="userType"></label>
      <select id="userType" [(ngModel)]="userType" class="form-control">
          <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button (click)="login()" class="loginbut">Login</button>
  
  </div>
</div>