<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="main">
    <div class="header">
        <div class="logo">
            <img src="..\assets\tvsnext_logo png.png" alt="Logo">
            <h2>Smart Contracts</h2>
        </div>
        <div class="icons1">
            <button *ngIf="isAdmin" class="add"><span class="material-symbols-outlined">add</span> </button>
           
            <button class="account" (click)="logout()"><span
                    class="material-symbols-outlined">account_circle</span></button>

        </div>

    </div>
    <div class="body">
       
        <mat-drawer-container class="sidenav-container" autosize>
          <mat-drawer #drawer class="sidenav" mode="side">
             
              <div class="drawer-button" (click)="togglePin()">
                  <button type="button" mat-button (click)="drawer.toggle()">
                      <mat-icon>{{ isPinned ? 'menu' : 'menu' }}</mat-icon>
                  </button>

              </div>
              <div class="sidenav-content">
                  <div class="profile">
                      <img src="..\assets\Profile1.svg" alt="Profile Picture">
                  </div>
                  <p>(User Name)</p>
                  <div class="tabs">
                      <button routerLink="/dashboard">Contracts</button>
                      <button routerLink="/task">Tasks</button>
                  </div>
              </div>
          </mat-drawer>
          <div class="drawer-content">
              <div *ngIf="isPinned" class="sidenav-content" (click)="togglePin()">
                  <button type="button" mat-button (click)="drawer.toggle()">
                      <mat-icon>{{ isPinned ? 'menu' : 'menu' }}</mat-icon>
                  </button>
              </div>
              <div class="content-container">
                  <h1>HomePage</h1>
              </div>
          </div>
      </mat-drawer-container>
    </div>
</div>